html {
	background: dimgray;
}

div.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.main-box {
	font-family: Arial;
	background: lightgray;
	width: 70%;
	min-width: 400px;
	max-width: 1200px;
	margin-top: 80px;
	padding: 15px;
	border-radius: 10px;
}

h1 {
	text-align: center;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

th.label {
	text-align: right;
	text-wrap: nowrap;
}

td {
	text-align: center;
}

.input {
	width: 80%;
	text-align: center;
	font-size: 110%;
	border-radius: 0px;
	border-width: 1px;
}

#calculate-button {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 120%;
	border-radius: 5px;
	border-width: 1px;
}

div.result-wrapper {
	display: flex;
	font-size: 150%;
}

p.result {
	font-weight: bold;
}

#error-message {
	color: red;
	font-size: 120%;
	font-weight: bold;
}

#results-table td, #results-table th{
	border: 1px solid grey;
	padding: 5px;
	background-color: #F0F0F0;
}

p.info {
	font-size: 80%;
	padding-left: 20px;
}

.common {
	background-color: #E7E7E5;
}

.rare {
	background-color: #B3FCB3;
}

.epic {
	background-color: #CA95FC;
}

.legendary {
	background-color: #FCB992;
}

.chaotic {
	background-color: #FC8181;
}

.error {
	background-color: red;
	font-weight: bold;
}